<div id="photos">
    <img src="/images/IMG_2941.jpg" alt="">
    <img src="/images/IMG_2942.jpg" alt="">
    <img src="/images/IMG_2943.jpg" alt="">
    <img src="/images/IMG_2930.jpg" alt="">
    <img src="/images/IMG_2931.jpg" alt="">
    <img src="/images/IMG_2932.jpg" alt="">
    <img src="/images/IMG_2933.jpg" alt="">
    <img src="/images/IMG_2934.jpg" alt="">
    <img src="/images/IMG_2935.jpg" alt="">
    <img src="/images/IMG_2936.jpg" alt="">
    <img src="/images/IMG_2937.jpg" alt="">
    <img src="/images/IMG_2938.jpg" alt="">
    <img src="/images/IMG_2939.jpg" alt="">
    <img src="/images/IMG_2940.jpg" alt="">

    <div></div>
</div>

<audio autoplay="" id="bgmMusic" loop="" preload="auto" src="/images/野狼disco.mp3" type="audio/mp3"></audio>
<script src="/javascripts/1PhotoAnimation/4AutoCircleRotate/animation.js"></script>





</script>
<!-- 如何设置3D场景布局
        1.设置场景景深 in #perspective
        2. 给元素设置3D 风格
    旋转整个相册 就是改变相册元素 rotatex() and rotatey()
    过渡需要一个明显的过程

-->
