body {
    margin: 0;
    background: #000;
    overflow:hidden;
    background-image:url(/images/background.jpg);
    background-position:center;
    background-attachment:fixed;
    background-size: 100%
}

#perspective {
    perspective: 1000px;
    /* 设置景深 */
}

#wrap {
    position: relative;
    width: 400px;
    height:400px;
    /* border: 1px solid red; */
    margin: 350px auto;
    transform-style: preserve-3d;
    /* 设置3D场景风格 */
    transform:rotateX(-20deg) rotateY(0deg);
    /* 选择旋转度数 */
}

#wrap img{
    position: absolute;
    width: 40%;
    height: 40%;
}
